<template #searchPopContent>
	<ul>
		<li>belgium: if the application or the comment added by the pi includes 'belgium'</li>
        <li>*unread: list only new applications, that haven't been reviewed by the Pi yet</li>
        <li>$>6: list only applications that have been reviewed by the Pi and attributed a score higher than 6</li>
	</ul>
</template>

<div class="card">
	<div class="card-block">
		<div class="row">
			<div [formGroup]="searchForm">
				<img src="./images/search.png" (click)="showSearch= !showSearch" class="imgSearch" placement="right" ngbTooltip="Please click here to search specific jobs" />
				<input *ngIf="showSearch" type="search" [formControl]="searchControl" formControlName="searchControl" [ngbPopover]="searchPopContent"
					placement="right" triggers="mouseenter:mouseleave" popoverTitle="How to search: examples">
			</div>
		</div>
		<div class="row">
			<ngb-accordion [closeOthers]="true" #acc="ngbAccordion" (panelChange)="beforeAccordionChange($event)" [activeIds]="state.openPanelId">
				<ngb-panel [disabled]="true">
					<template ngbPanelTitle>
						<div class="row">
							<div class="col-sm-3"><b>Candidate</b></div>
							<div class="col-sm-3"><b>Citizenship</b></div>
							<div class="col-sm-2"><b>Age</b></div>
							<div class="col-sm-3"><b>Presently</b></div>
                            <div class="col-sm-1"><b>Unread</b></div>
						</div>
					</template>
					<template ngbPanelContent>
					</template>
				</ngb-panel>
				<ngb-panel *ngFor="let application of applications" [id]="application.data._id">
					<template ngbPanelTitle>
						<div class="row" id="{{application.data._id}}">
							<div class="col-sm-3">{{application.annotation.candidateFullName}}</div>
                            <div class="col-sm-3">{{application.data.citizenship}}</div>                            
                            <div class="col-sm-2">{{application.data.age}}</div>                            
                            <div class="col-sm-3">{{application.data.presentOccupation}}</div>                                                                                    
                            <div class="col-sm-1">{{application.annotation.isUnread? '*': ''}}</div>
						</div>
					</template>
					<template ngbPanelContent>
						<gg-application-detail [applicationObservable]="getApplicationObservable(application.data._id)" [state]="state[application.data._id]" [path]="path+'|P:'+application.data._id" 
						(stateChanged)="childStateChanged($event, application.data._id)"></gg-application-detail>
					</template>
				</ngb-panel>
			</ngb-accordion>
		</div>
	</div>
</div>