<!--<template ngbTabContent>-->
	<div class="card">
		<div class="card-block">
			<div class="row">
				<div class="col-sm-3">id:</div>
				<div class="col-sm-6">{{responseId}}</div>
			</div>  
            <div class="row">
				<div class="col-sm-3">job title:</div>
				<div class="col-sm-6">{{user.annotation.jobTitle}}</div>
			</div>                    
			<div class="row">
				<div class="col-sm-3 vcenter">full name:</div>
				<div class="col-sm-6 vcenter">
					<div class="col-sm-6">this full name</div>
			    </div>
			</div>
		</div>
	</div>

<!--</template>-->
        