
		<div class="card">
			<div class="card-block">
				<div class="row">
					<div class="col-sm-2">id:</div>
					<div class="col-sm-10">{{responseId}}</div>
				</div>  
				<div class="row">
					<div class="col-sm-2">job title:</div>
					<div class="col-sm-10">{{response.annotation.jobTitle}}</div>
				</div>                    
				<div class="row">
					<div class="col-sm-2">full name:</div>
					<div class="col-sm-10">{{response.annotation.candidateFullName}}</div>
				</div>
				<div class="row">
					<div class="col-sm-2">age:</div>
					<div class="col-sm-10">{{response.data.age}}</div>
				</div>
				<div class="row">
					<div class="col-sm-2">citizenship:</div>
					<div class="col-sm-10">{{response.data.citizenship}}</div>
				</div>
				<div class="row">
					<div class="col-sm-2">address:</div>
					<div class="col-sm-10">{{response.data.address}}</div>
				</div>
				<div class="row">
					<div class="col-sm-2">email:</div>
					<div class="col-sm-10">{{response.data.email}}</div>
				</div>
				<div class="row">
					<div class="col-sm-2">telephone:</div>
					<div class="col-sm-10">{{response.data.telephone}}</div>
				</div>
				<div class="row">
					<div class="col-sm-2">country of residence:</div>
					<div class="col-sm-10">{{response.data.countryOfResidence}}</div>
				</div>
				<div class="row">
					<div class="col-sm-2">education:</div>
					<div class="col-sm-10">{{response.data.education}}</div>
				</div>
				<div class="row">
					<div class="col-sm-2">publications:</div>
					<div class="col-sm-10">{{response.data.publications}}</div>
				</div>
				<div class="row">
					<div class="col-sm-2">present occupation:</div>
					<div class="col-sm-10">{{response.data.presentOccupation}}</div>
				</div>
	
				<form [formGroup]="applicationForm" (ngSubmit)="save(applicationForm.value, applicationForm.valid)">
					<div class="form-group row">
                    	<label for="description" class="col-sm-2 col-form-label col-xl-2">score:</label>
                    		<div class="col-sm-10">
								<select class="form-control" formControlName="piScore" id="sel1">
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
									<option>6</option>
									<option>7</option>
									<option>8</option>
									<option>9</option>
									<option>10</option>
								</select>
							</div>
					</div>
				
					<div class="form-group row">
						<label for="description" class="col-sm-2 col-form-label col-xl-2">remarques:</label>
						<div class="col-sm-10">
							<textarea rows="4" class="form-control" formControlName="piRemarque" placeholder="enter remarques"></textarea>
						</div>
					</div>
					<div class="row">
                    	<div class="col-sm-3 col-md-2 col-lg-2">
                        	<button class="btn btn-success" type="submit" [disabled]="!applicationForm.valid">Submit</button>
                    	</div>
					</div>
				</form>
			</div>
		</div>

	