
		<div class="card">
			<div class="card-block">
				<div class="row">
					<div class="col-sm-2">id:</div>
					<div class="col-sm-10">{{responseId}}</div>
				</div>  
				<div class="row">
					<div class="col-sm-2">job title:</div>
					<div class="col-sm-10">{{response.annotation.jobTitle}}</div>
				</div>                    
				<div class="row">
					<div class="col-sm-2">full name:</div>
					<div class="col-sm-10">{{response.annotation.candidateFullName}}</div>
				</div>
				<div class="row">
					<div class="col-sm-2">age:</div>
					<div class="col-sm-10">{{response.data.age}}</div>
				</div>
				<div class="row">
					<div class="col-sm-2">citizenship:</div>
					<div class="col-sm-10">{{response.data.citizenship}}</div>
				</div>
				<div class="row">
					<div class="col-sm-2">address:</div>
					<div class="col-sm-10">{{response.data.address}}</div>
				</div>
				<div class="row">
					<div class="col-sm-2">email:</div>
					<div class="col-sm-10">{{response.data.email}}</div>
				</div>
				<div class="row">
					<div class="col-sm-2">telephone:</div>
					<div class="col-sm-10">{{response.data.telephone}}</div>
				</div>
				<div class="row">
					<div class="col-sm-2">country of residence:</div>
					<div class="col-sm-10">{{response.data.countryOfResidence}}</div>
				</div>
				<div class="row">
					<div class="col-sm-2">education:</div>
					<div class="col-sm-10">{{response.data.education}}</div>
				</div>
				<div class="row">
					<div class="col-sm-2">publications:</div>
					<div class="col-sm-10">{{response.data.publications}}</div>
				</div>
				<div class="row">
					<div class="col-sm-2">present occupation:</div>
					<div class="col-sm-10">{{response.data.presentOccupation}}</div>
				</div>
			</div>
		</div>
