<div class="row">
    <div class="col-sm-2  "></div>
    <div class="col-sm-8 ">
        <div class="card" *ngIf="job">
            <div class="card-block">
                <div class="row"> 
                    <div class="col-sm-2 "><img src="./images/GIGAlogo.png" /></div>
                    <div class="col-sm-8 "></div>
                    <div class="col-sm-2 "><img id="ulgLogo" src="./images/ULglogo.gif" /></div>
                </div>
                <br/>
                <div class="row"> 
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10"><h2 style="text-align: center;">{{job.data.title}}</h2></div>
                    <div class="col-sm-1"></div>
                </div>
                <br/>
                <div class="row"> 
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10" [innerHTML]="job.data.description"></div>
                    <div class="col-sm-1"></div>
                </div>
                <br/>
                <div class="row"> 
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10" [innerHTML]="job.data.education"></div>
                    <div class="col-sm-1"></div>
                </div>
                <br/>
                <div class="row"> 
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10" [innerHTML]="job.data.requirements"></div>
                    <div class="col-sm-1"></div>
                </div>
                <br/>
                <div class="row"> 
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10" [innerHTML]="job.data.procedure"></div>
                    <div class="col-sm-1"></div>
                </div>        
                <br/>
                <div class="row" *ngIf="canApply"> 
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10"><button type="button" (click)="doApply()">Apply for this position</button></div>
                    <div class="col-sm-1"></div>
                </div>        
            </div>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>