
<ngb-tabset *ngIf="job" (tabChange)="beforeTabChange($event)" [activeId]="state.selectedTabId">
	<ngb-tab title="Info" id="tabInfo">
		<template ngbTabContent>
			<div class="card">
				<div class="card-block">
					<div class="row">
						<div class="col-sm-2 vcenter">title:</div>
						<div class="col-sm-9 vcenter">
							{{job.data.title}}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2 vcenter">publication status:</div>
						<div class="col-sm-9 vcenter" [style.color]="job.data.isPublished ? 'lightgreen' : 'red'">
							{{job.data.isPublished ? 'published' : 'not published'}}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2 vcenter">number of responses received:</div>
						<div class="col-sm-9 vcenter">
							{{job.annotation.nbResponses}}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2 vcenter">number of unread responses:</div>
						<div class="col-sm-9 vcenter">
							{{job.annotation.nbUnreadResponses}}
						</div>
					</div>
				</div>
			</div>
		</template>
	</ngb-tab>
	<ngb-tab title="Comments" id="tabComments">
		<template ngbTabContent>
			<gg-comments [comments]="job.data.comments" (commentsUpdated)="commentsUpdated($event)"></gg-comments>
		</template>
	</ngb-tab>
	<ngb-tab title="View" id="tabJobView">
		<template ngbTabContent>
			<gg-job-view [jobObservable]="jobObservable"></gg-job-view>
		</template>
	</ngb-tab>
	<ngb-tab title="Edit" id="tabbJobEdit">
		<template ngbTabContent>
			<div class="card">
				<div class="card-block">
					<div class="row">
						<div class="col-sm-2 vcenter">title:</div>
						<div class="col-sm-9 vcenter">
                            <gg-editor [content]="job.data.title" [showControls]="true" (editSaved)="titleChanged($event)"></gg-editor>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2 vcenter">is published:</div>
						<div class="col-sm-9 vcenter"><gg-editor-boolean [content]="job.data.isPublished" (editSaved)="publishedUpdated($event)"></gg-editor-boolean></div>
					</div>					
					<div class="row">
						<div class="col-sm-2 vcenter">description:</div>
						<div class="col-sm-9 vcenter">
                            <gg-editor-tinymce [content]="job.data.description" (editSaved)="descriptionChanged($event)"></gg-editor-tinymce>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2 vcenter">education:</div>
						<div class="col-sm-9 vcenter">
                            <gg-editor-tinymce [content]="job.data.education" (editSaved)="educationChanged($event)"></gg-editor-tinymce>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2 vcenter">requirements:</div>
						<div class="col-sm-9 vcenter">
                            <gg-editor-tinymce [content]="job.data.requirements" (editSaved)="requirementsChanged($event)"></gg-editor-tinymce>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2 vcenter">procedure:</div>
						<div class="col-sm-9 vcenter">
                            <gg-editor-tinymce [content]="job.data.procedure" (editSaved)="procedureChanged($event)"></gg-editor-tinymce>
						</div>
					</div>
				</div>
			</div>            
		</template>
	</ngb-tab>
	<ngb-tab title="Responses" id="tabbJobResponse" *ngIf="job.annotation.nbResponses > 0">
		<template ngbTabContent>
            <gg-application-list [applicationsObservable]="applicationsObservable" [state]="state"></gg-application-list>
		</template>
	</ngb-tab>
	<ngb-tab id="tabMax">
		<template ngbTabTitle><img src="./images/maximize.png" [ngbPopover]="popContent" triggers="mouseenter:mouseleave" /></template>
		<template ngbTabContent></template>
	</ngb-tab>
	<ngb-tab id="gotoTop" *ngIf="!isRoot">
		<template ngbTabTitle><img src="./images/gototop.png" ngbPopover="Goto top of the page" triggers="mouseenter:mouseleave" /></template>
		<template ngbTabContent></template>
	</ngb-tab>
	
</ngb-tabset>