<template #searchPopContent>
	<ul>
		<li>biology: if the job description includes 'biology'</li>
	</ul>
</template>

<div class="card">
	<div class="card-block">
		<div class="row">
			<div [formGroup]="searchForm">
				<img src="./images/search.png" (click)="showSearch= !showSearch" class="imgSearch" />
				<input *ngIf="showSearch" type="search" [formControl]="searchControl" formControlName="searchControl" [ngbPopover]="searchPopContent"
					placement="right" triggers="mouseenter:mouseleave" popoverTitle="How to search: examples">
			</div>
		</div>
		<div class="row">
			<ngb-accordion [closeOthers]="true" #acc="ngbAccordion" (panelChange)="beforeAccordionChange($event)" [activeIds]="state.openPanelId">
				<ngb-panel [disabled]="true">
					<template ngbPanelTitle>
						<div class="row">
							<div class="col-sm-12"><b>Job</b></div>
						</div>
					</template>
					<template ngbPanelContent>
					</template>
				</ngb-panel>
				<ngb-panel *ngFor="let job of jobs" [id]="job.data._id">
					<template ngbPanelTitle>
						<div class="row" id="{{job.data._id}}">
							<div class="col-sm-12">{{job.data.title}}</div>
						</div>
					</template>
					<template ngbPanelContent>
						<gg-job-detail [jobObservable]="getJobObservable(job.data._id)" [state]="state[job.data._id]" [path]="path+'|P:'+job.data._id" 
						(stateChanged)="childStateChanged($event, job.data._id)"></gg-job-detail>
					</template>
				</ngb-panel>
			</ngb-accordion>
		</div>
	</div>
</div>