<div class="card" *ngIf="job">
    <div class="card-block">
        <div class="row"> 
            <div class="col-sm-2 vcenter darkbackground"></div>
            <div class="col-sm-2 vcenter"><img src="./images/GIGAlogo.png" /></div>
            <div class="col-sm-4 vcenter"></div>
            <div class="col-sm-2 vcenter"><img id="ulgLogo" src="./images/ULglogo.gif" /></div>
            <div class="col-sm-2 vcenter darkbackground"></div>
        </div>
        <div class="row"> 
            <div class="col-sm-2 darkbackground"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-6"><h2 style="text-align: center;">{{job.data.title}}</h2></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-2 darkbackground"></div>
        </div>
        <br/>
        <div class="row"> 
            <div class="col-sm-2 darkbackground"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-6" [innerHTML]="job.data.description"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-2 darkbackground"></div>
        </div>
        <br/>
        <div class="row"> 
            <div class="col-sm-2 darkbackground"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-6" [innerHTML]="job.data.education"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-2 darkbackground"></div>
        </div>
        <br/>
        <div class="row"> 
            <div class="col-sm-2 darkbackground"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-6" [innerHTML]="job.data.requirements"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-2 darkbackground"></div>
        </div>
        <br/>
        <div class="row"> 
            <div class="col-sm-2 darkbackground"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-6" [innerHTML]="job.data.procedure"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-2 darkbackground"></div>
        </div>        
    </div>
</div>